.menu-container{
    width: 500px;
    background: transparent;
    color: var(--content--menu--color);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--border--menu--color); 
    border-radius: 10px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    & .user-info{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5px;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid var(--border--menu--color);
        border-radius: 10px;
        & p{
            margin: 0px;
            /* text-decoration: underline; */
            & span{
                font-size: 16px;
                display: inline;
            }
        }
        
        & button{
            margin: 5px;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    & button{
        margin: 5px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .menu-container {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}